@charset "utf-8";
/* CSS Document */

/*Formattazione dell html e body*/
html,body,p{
	margin: 0px;
}

body{
	background-color:#212121;
}

/*Stili Header*/	
.highlight { 
	/* Per le lettere in rosso nell'header */
	color: #C9391D;
}

/* Formattazione submit*/
.submit{
	position: absolute;
	padding: 10px;
	left: 70%;
	margin-bottom: 3px;
	width: 270px;
	font-size: 20px;
	
}

.submit a{
	margin-left: 7px;
	border-radius: 20%;
	cursor: pointer;
}

.submit a:hover{
	background-color: #BFB172;
}

/* Il form di registrazione*/
#registerform{
	display: none;
	margin: auto;
	background-color: #BFB172;
	width: 70%;
	left: 15%;
	top: 8%;
	position: fixed;
	z-index: 1;
	height: auto;
	padding-top: 20px;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 4px;
}



/* The container */
.radiobtn {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radiobtn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiobtn:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiobtn input:checked ~ .checkmark {
    background-color: #C9391D;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobtn input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiobtn .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #212121;
}


.err{
	color: #C9391D;
	display: block;
	font-size: 15px;
}


input[type=text], select, input[type=mail], input[type=tel], input[type=date], input[type=password]{
	background-color: #212121;
	color: white;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	 -webkit-transition: 0.3s;
    transition: 0.3s;
	outline: none;
}

input[type=text]:focus, input[type=mail]:focus, input[type=tel]:focus {
    border: 3px solid black;
}

input[type=submit], input[type=button] {
    background-color: #212121;
    color: white;
	text-decoration: none;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
	margin-bottom: 2%;
	-webkit-transition: 0.2s;
    transition: 0.2s;
}

label{
	font-size: 20px;
	font-family: 'Mina', sans-serif;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #C9391D;
}

/*#registerform input{
	font-family: 'Mina', sans-serif;
	display: inline;
	margin-left: auto;
	background-color: #212121;
	color: white;
	padding: 5px;
	width: 80%;
	overflow: auto;
	font-size: 30px;
	margin-right: 20px;
}

#registerform button{
	font-size: 20px;
	background-color: ;
	color: white;
	padding: 15px;
	text-decoration: none;
	display: inline-block;
	width: 20%;
	margin: auto;
	margin-bottom: 20px;
}

#registerform p{
	margin: 0 auto;
	display: inline;
	font-size: 30px;
}

input[type=tel] {
    color: aqua;
	padding: 100px 0;
}*/

#title{
	position: relative;
	letter-spacing: 3px;
	text-align: center;
	font-size: 42px;
	text-decoration: none;
}
	
#header{
	font-family: 'Prata', serif;
	background-color: #212121;
	color: white;
	font-size: 22px;
	padding-top: 1.5%;
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	text-decoration: none;
	z-index: 666;
}

#header nav{
	text-align: center;
}



.item{
	display: inline;
	margin-top: 0;
}

.item a:hover {
    background-color: #B4331A;
	color: black;
	cursor: pointer;
}

.item a:active{
	background-color: #C9391D;
	
}

.navbar {
	margin: 0px; 
	padding: 10px; 
	list-style-type: none; 
} 
.mitem{
	display: none;
}

/*Modifica: prima era soltanto "a" e quindi metteva questi attributi a tutti i link. Aggiunto #header*/
#header a{
	-webkit-transition: width 2s; /* Safari */
    transition: background-color 0.6s,color 0.6s;
	text-decoration: none;
	padding: 14px 30px;
	color: white;
}

::selection{
	background-color: #E4C01D;
}

@media screen and (max-width: 802px){
	.item{
		display: none;
	}
	.mitem{
		display: block;
		width: 100%;
	}
	#header{
		z-index: 1000;
		position: relative;
		top: 0;
		left: 0;
	}
}


.content{
	width:100%;
	height:100%;
}

#mshow{
	display: none;
}

.bordo{
	border: 2px solid #BFB172;
	border-radius: 2px;
}

#mshow div{
	position: absolute;
	top: 120;
	left: 0;
	text-align: center;
	width: 100%;
	padding: 10px;
	background-color: #212121;
}

#mshow a{
	padding: 15px;
	line-height: 50px;
}


/*Stili Latest*/
#latest{
	/*background: linear-gradient(#212121, #CBC9C8);*/
	margin:0%;
	width:100%;
	height:100%;
	padding-bottom:5%;
	display: flex;
	color: white;
	align-items: center; 
	/*background-color: DodgerBlue; cancella qui per vedere le tabelle*/
}

#latest>div {
  /*background-color: #f1f1f1; cancella qui per vedere le tabelle*/
  margin: 10px;
  padding:20px;
  font-size: 30px;
}
 
#sin p{
	font-size: 1vw;
	/*font-family: 'Amatic SC', cursive, bold;*/
	font-family: 'Fjalla One', sans-serif;

}

#sin{
	width: 25%;
}


#cen{
	width: 50%;
}

#cen p{
	font-family: 'Fjalla One', sans-serif;
	padding-bottom: 14px;
	font-size: 50px;
}

#cen video{
	 width: 100%;
	 min-width: 200px;
	 height: auto;
	 position: relative;
}

#dest{
	width: 25%;
}

#dest p:first-child{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "sans-serif";
	font-size: 1.5vw;
	padding-top: 15%;
	color: #BFB172;
	
}
#dest p{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "sans-serif";
	font-size: 1vw;
	color: white;
}

#streams img{
	width: 200px;
	height: 50%;
}

#text{
	margin-top: 21%;
}
  
@media screen and (max-width: 802px) {
	#latest{
		align-items: center; 
		align-self: flex-start;
		flex-direction: column;
	}
	#sin{
		display: none;
	}
	.submit{
		display: none;
	}
	#dest p{
		font-size: 20px;
	}
	#dest{
		
		width: 80%;
	}
	#dest p:first-child{
	font-size: 20px;
	padding-top: 5%;
	
}
	#cen{
		width: 80%;
		margin-bottom: 0px;
	}
}

/*Stili Bio*/
#bio{
	background-image: url(../images/pimp.jpg);
    background-blend-mode: darken; 
	width: 100%;
    height: 100%;
	padding-top: 1.5%;
	padding-bottom:10%;
	z-index:-1;
}

#bio h1{
	z-index:-1;
	font-size: 3vw;
	margin-left: 6%;
	margin-top: 5%;
	marging-bottom: 1%;
	margin-right: 79%;
	padding: 5px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "sans-serif";
	background-color: #4f4b48;
	color: #DDDDDA;
}

#bio p{
	margin-top: 0px;
	font-size: 23px;
	padding: 1%; 
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "sans-serif";
	/*border: solid 11px white; */
	display: block;
	margin-left: 9%;
	margin-right: 40%;
	color: white;
	background-color: #4f4b48;
}
/*aggiunto z-index:666; e position relative all'immagine cosi rimane sempre sopra al div*/
#bio img{
	display: inline-block;
	width: 450px;
	height: 450px;
	float: right;
	margin-top: 4%;
	margin-right: 14%;
	position:relative;
	z-index:665;
	border: solid 15px white; 
}

@media screen and (max-width: 802px){
	#bio img{
		width: 50%;
		height: 50%;
		margin-top: 2%;
		margin-left: 23%;
		float: none;
		clear: both;
	}
	#bio p{
		margin-right: 9%;
		font-size: 18px;
	}
	#bio h1{
		font-size: 25px;
		margin-right: 0%;
	}
}

/*Stile Album*/

#album{
	background-color: #703845;
	width: 100%;
	height: 100%;
}

#album p{
	padding-top: 2%;
	padding-bottom: 2%;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "sans-serif";
	font-size: 50px;
	color: white;
	clear: both;
 }
 
.photos {
    position:relative;
	top: 0;
	left: 0;
    float: left;
    width:33.3%;
}

.image {
	opacity: 1;
	display: block;
	width: 80%;
	height: auto;
	transition: .3s ease;
	backface-visibility: hidden;
}

.middle {
	position: absolute;
	top: 30%;
	left: 40%;
	transition: .5s ease;
	opacity: 0;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.textgallery #good {
	margin-top: 25%;
}

.textgallery #pimp {
	margin-top: 20%;
	margin-left: 10%;
}

.photos:hover .image {
	opacity: 0.3;
	-webkit-filter: blur(4px);
	filter: blur(4px);
}

.photos:hover .middle {
	opacity: 1;
}

.textgallery {
	width: 100%;
	color: white;
	font-size: 1vw;
	padding: 16px 32px;
}

.textgallery ol{
	-moz-column-count: 2;
	-moz-column-gap:60px;
	-webkit-column-count: 2;
	-webkit-column-gap: 60px;
	column-count: 2;
	column-gap: 60px;
}

@media only screen and (max-width: 802px){
    .photos {
        width: 49.99999%;
        margin: 6px 0;
    }
	.textgallery{
		font-size: 15px;
	}
	.middle{
		left: 45%;
	}
	.textgallery #good{
		font-size: 40px;
	}
	.textgallery #pimp{
		font-size: 40px;
	}
	.textgallery #damnp{
		font-size: 40px;
	}
	
}

@media only screen and (max-width: 600px){
    .photos {
        width: 99%;
    }
}

/*Stili gallery*/

#gallery{
	background: url(../images/GoodKidImage.jpg);
	padding-bottom: 3%;
	margin-top: 2%;
}

#gallery p{
	background-color: #BFB172;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: 1% auto;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "sans-serif";
	font-size: 50px;
	color: #212121;
	clear: both;
}

.gallery_row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
	margin-left: 2%;
}

.gallery_column {
    flex: 25%;
    max-width: 24%;
    padding: 0 4px;
}

.gallery_column img{
	width: 100%;
	 margin-top: 8px;
    vertical-align: middle;
	border: 2px solid #BFB172;
}

@media screen and (max-width: 802px) {
    .gallery_column {
        -ms-flex: 23%;
        flex: 23%;
        max-width: 23%;
    }
}

@media screen and (max-width: 600px) {
    .gallery_column {
        -ms-flex: 47%;
        flex: 47%;
        max-width: 47%;
    }
}

/*Stile Footer*/
footer{
	width:100%;
	height: 700px;
}

#fsopra{
	margin-bottom: 20px;
	text-align: center;
	color: white;
}

.fcolonne{
	/*border: 2px white solid;*/
	position: absolute;
	display: inline-block;
	width: 33%;
	margin: 0px;
	height: 500px;
}

#f1{
	/*border: 1px solid white;*/
	overflow: hidden;
}

#f1 h1{ 
	color: white;
	position: relative;
	left: 10%;	
}

#f1 hr{
	width: 80%;
	color: #BFB172;
}



.articoli::-webkit-scrollbar { 
    display: none; 
}

.articoli{
	height: 100%;
	overflow-y: scroll;
	
}

#f1 p{
	float: left;
	position: relative;
	font-size: 1vw;
	color: white;
	left: 10%;
	top: 10px;
	margin-bottom: 5px;
	width: 80%;
	padding-bottom: 10px;
	/*border: 2px red solid;*/
}

#f2{
	left: 33%;
	color: white;
	float: left;
}

#f2 h1{
	display: inline-block;
}

#f2 img{
	margin-top: 3%;
	display: inline-block;
	width: 50px;
	height: 50px;
}


#f2 p{
	font-size: 1vw;
}


#f2 hr{
}

#f3{
	/*border: 1px solid white;*/
	overflow: hidden;
	position: relative;
	left: 66%;
	
}

#f3 h1{ 
	color: white;
	
}

#f3 hr{
	width: 80%;
	color: #BFB172;
}

#f3 p{
	color: white;
}

canvas{
	margin-top: 1%;
	background: #212121;
}

@media only screen and (max-width: 802px){
	#f1{
		width: 100%;
		position: static;
		overflow: hidden;
		height: 40%;
	}
	#f1 p{
		font-size: 20px;
	}
	#f2{
		position: static;
		height: 15%;
		width: 100%;
		float: left;
		margin-top: 14px;
	}
	
	#f3 {
		width: 100%;
		height: 70%;
		position: static;
	}
	#f3 h1{
		text-align: center;
	}
	#f3 p{
		text-align: center;
}
	canvas{
		margin-left: 20%;
	}
}

/* Cambiato lo stile della barra dello scroll */
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
